In [ ]:
## Tuples -> Immutable , ordered collection of objects

In [1]:
print("Hello World")

Hello World

In [4]:
tup = (1,2,3,4,5,6)
print(tup)
print(type(tup))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>

In [7]:
tup = tuple()
print(tup)

()

In [8]:
nums = tuple([1,2,3,45,6,6,6,6,5,5,5,5,5])
print(nums)

(1, 2, 3, 45, 6, 6, 6, 6, 5, 5, 5, 5, 5)

In [12]:
mixed = (1,2,"Hello", 5.5, "Kumar")

print(mixed)

(1, 2, 'Hello', 5.5, 'Kumar')

In [10]:
nums = tuple([1,2,3,4,5,6,7,8])
print(nums)

(1, 2, 3, 4, 5, 6, 7, 8)

In [11]:
print(nums[-1])  # Same as lists

8

In [13]:
### Tuples operation 

newTup = nums + mixed  # Concatenated 
newTup

(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 'Hello', 5.5, 'Kumar')

In [14]:
mixed *2

(1, 2, 'Hello', 5.5, 'Kumar', 1, 2, 'Hello', 5.5, 'Kumar')

In [18]:
newTup = tuple(i * 2 for i in nums )
print(newTup)

(2, 4, 6, 8, 10, 12, 14, 16)

In [19]:
# nums[1] = 25 ## Error as tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [24]:
## Tuples Methods
nums = tuple([1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,1,2,3,5])
print(nums.count(1))
print(nums.index(5))  # return the index of first appearance

3
4

In [29]:
## Packing and Unpacking of tuples 

packedTup = 1, "hello", 3.5
print(packedTup)

a, b, c = packedTup
print(a)
print(b)
print(c)

(1, 'hello', 3.5)
1
hello
3.5

In [33]:
## Unpacking with stars 


first, *middle, last = nums  ## Unpacking give lists 
print(first)
print(middle)
print(last)

1
<class 'list'>
5

In [44]:
## same can be done in tuples 


lst = [
    [1,2,3],
    [5,"hello",20],
    [4,5,6]
]

print(lst[0][1])


lstSliced = [row[1:] for row in lst[1:]]
print(lstSliced)
print(type(lstSliced))

2
[['hello', 20], [5, 6]]
<class 'list'>

In [49]:
nestedTup = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

for ele in nestedTup:
    for index, i in enumerate(ele):
        if i == 7:
            print(index, i)
            break

0 7