In [33]:
print("Hellpo from sec14-workingwithsqlite!")

Hellpo from sec14-workingwithsqlite!

In [34]:
import sqlite3

conn = sqlite3.connect('./test.db')
conn.row_factory = sqlite3.Row

In [35]:
cur = conn.cursor()

In [36]:
cur.execute('''
            CREATE TABLE IF NOT EXISTS employees(
                id INTEGER PRIMARY KEY,
                name text NOT NULL,
                age INTEGER, 
                department text
            )
            ''')

conn.commit()

In [37]:
cur.execute('''
            SELECT name FROM SQLITE_MASTER WHERE type = 'table'
            ''')

cur.fetchall()

In [38]:
cur.execute('''
            SELECT * FROM employees 
            ''')
rows = cur.fetchall()

for row in rows:
    print(dict(row))

{'id': 1, 'name': 'Aashish', 'age': 25, 'department': 'ECE'}
{'id': 2, 'name': 'Aarunee', 'age': 22, 'department': 'ECE'}
{'id': 3, 'name': 'Aditya', 'age': 22, 'department': 'Petro'}

In [39]:
cur.execute('''
            PRAGMA TABLE_INFO (employees)
            ''')
cur.fetchall()

[<sqlite3.Row at 0x2c81fa843d0>,
 <sqlite3.Row at 0x2c81fa873a0>,
 <sqlite3.Row at 0x2c81fa87b80>,
 <sqlite3.Row at 0x2c81fa85390>]

In [40]:
# data = [
#     (1, 'Aashish', 25, 'ECE'), 
#     (2, 'Aarunee', 22, 'ECE'), 
#     (3, 'Aditya', 22, 'Petro')
# ]
# cur.executemany('''
#             INSERT INTO employees (id, name, age, department) VALUES (?,?,?,?)
#             ''', data)

conn.commit()

In [43]:
cur.execute('''
            SELECT * FROM employees
            ''')

rows = cur.fetchall()

for row in rows:
    print(dict(row))

{'id': 1, 'name': 'Aashish', 'age': 25, 'department': 'ECE'}
{'id': 2, 'name': 'Aarunee', 'age': 22, 'department': 'ECE'}
{'id': 3, 'name': 'Aditya', 'age': 22, 'department': 'Petro'}

In [46]:
cur.execute('''
            SELECT name, age FROM employees WHERE department = 'ECE'
            ''')

rows = cur.fetchall()

for row in rows:
    print(dict(row))

{'name': 'Aashish', 'age': 25}
{'name': 'Aarunee', 'age': 22}

In [49]:
cur.execute("""
    UPDATE employees
    SET id = 2222
    WHERE id = 1
""")
conn.commit()

cur.execute("SELECT * FROM employees")
rows = cur.fetchall()

for row in rows:
    print(dict(row))

{'id': 2, 'name': 'Aarunee', 'age': 22, 'department': 'ECE'}
{'id': 3, 'name': 'Aditya', 'age': 22, 'department': 'Petro'}
{'id': 2222, 'name': 'Aashish', 'age': 25, 'department': 'ECE'}

In [50]:
cur.execute('''
            
            DELETE FROM employees
            WHERE id = 2222
            ''')

In [52]:
cur.execute('''
            SELECT * FROM employees
            ''')

rows = cur.fetchall()

for row in rows:
    print(dict(row))

{'id': 2, 'name': 'Aarunee', 'age': 22, 'department': 'ECE'}
{'id': 3, 'name': 'Aditya', 'age': 22, 'department': 'Petro'}

In [53]:
conn.close()

In [54]:
# cur.execute('''
#             SELECT * FROM employees
#             ''')

# rows = cur.fetchall()

# for row in rows:
#     print(dict(row))

ProgrammingError: Cannot operate on a closed database.

In [55]:
connection = sqlite3.connect('./test.db')
cursor = connection.cursor()

In [57]:
cursor.execute('''
               PRAGMA TABLE_INFO (employees)
               ''')

cursor.fetchall()

[(0, 'id', 'INTEGER', 0, None, 1),
 (1, 'name', 'TEXT', 1, None, 0),
 (2, 'age', 'INTEGER', 0, None, 0),
 (3, 'department', 'TEXT', 0, None, 0)]

In [58]:
cursor.execute('''
               SELECT name FROM SQLITE_MASTER WHERE type = 'table'
               ''')
cursor.fetchall()

[('employees',)]

In [59]:
cursor.execute('''
               SELECT * FROM employees
               ''')

rows = cursor.fetchall()

for row in rows:
    print(row)

(2, 'Aarunee', 22, 'ECE')
(3, 'Aditya', 22, 'Petro')
(2222, 'Aashish', 25, 'ECE')

In [60]:
cursor.execute('''
               DELETE FROM employees
               WHERE id = ?
               ''', (2222,))

In [61]:
connection.commit()

In [62]:
cursor.execute('''
               SELECT * FROM employees
               ''')

cursor.fetchall()

[(2, 'Aarunee', 22, 'ECE'), (3, 'Aditya', 22, 'Petro')]

In [63]:
connection.close()

In [64]:
connection = sqlite3.connect('./test.db')
cursor = connection.cursor()

cursor.execute('''
               SELECT * FROM employees
               ''')

cursor.fetchall()

[(2, 'Aarunee', 22, 'ECE'), (3, 'Aditya', 22, 'Petro')]

In [79]:
def employeeInfoAgeGreaterThan(age):
    cursor.execute('''
                   SELECT * FROM employees
                   WHERE age > ?
                   ''', (age, ))
    
    rows = cursor.fetchall()
    
    if not rows:
        print("No Data Found")
        return []
    
    return rows

def employeeInfoAgeGreaterThan_SHOW(age):
    cursor.execute('''
                   SELECT * FROM employees
                   WHERE age > ?
                   ''', (age, ))
    
    rows = cursor.fetchall()
    
    if not rows:
        print("No Data Found")
        
    for row in rows:
        print(row)
    
    return

In [83]:
employeeInfoAgeGreaterThan_SHOW(20)

# for row in rows:
#     print(row)

(2, 'Aarunee', 22, 'ECE')
(3, 'Aditya', 22, 'Petro')